
#access {
	clear: both;
	display: block;
}

#access .menu {
	display: block;
	background: none;
	border-top: none; 
	border-bottom: none; 
	background: #C51485;
	background-image: linear-gradient(bottom, #C51485 0%, #E0338D 100%);
	background-image: -o-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -moz-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -webkit-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -ms-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #C51485), color-stop(1, #E0338D) );
	padding: 0;
	margin-left: 20%;
	margin-right: 20%;
}


#access-left .menu {
	display: block;
	background: none;
	border-top: none; 
	border-bottom: none; 
	background: #C51485;
	background-image: linear-gradient(bottom, #C51485 0%, #E0338D 100%);
	background-image: -o-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -moz-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -webkit-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -ms-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #C51485), color-stop(1, #E0338D) );
	padding: 0;
	margin-left: 10%;
	margin-right: 50%;
}

.nuwhite-date .nuwhite-show-day {
	font-size: 20px;
	background: #C51485;
	background-image: linear-gradient(bottom, #C51485 0%, #E0338D 100%);
	background-image: -o-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -moz-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -webkit-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -ms-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #C51485), color-stop(1, #E0338D) );
}

#access-left .menu ul li a {
	color: #f2f2f2;
}

#access .menu ul li a {
	color: #f2f2f2;
}
.entry-title a {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.entry-title a:hover {
	color: #6ACCDF;
}
.entry-meta .nuwhite-more {
	background: #f2f2f2;
}
.nav-previous, .nav-next {
	background: #C51485;
	background-image: linear-gradient(bottom, #C51485 0%, #E0338D 100%);
	background-image: -o-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -moz-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -webkit-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -ms-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #C51485), color-stop(1, #E0338D) );
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.entry-meta .nuwhite-more:hover {
	background: #ddd;
}

.entry-meta .nuwhite-more a {
	color: #222;
}

#content nav a {
	color: #f2f2f2;
}
.site-credits {
	color: #ddd;
	background: #C51485;
	background-image: linear-gradient(bottom, #C51485 0%, #E0338D 100%);
	background-image: -o-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -moz-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -webkit-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -ms-linear-gradient(bottom, #C51485 0%, #E0338D 100%);   
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #C51485), color-stop(1, #E0338D) );
}

.site-credits a {
	color: #f2f2f2;
}